.App {
  text-align: center;
}

.App h1 {
  font-size: 1.5em;
}

.App p {
  color: red;
}

.App ul {
  padding: 0;
  list-style-type: none;
}

.App button {
  margin-top: 1em;
}

.App svg {
  width: 99vw;
  height: 99vh;
}
